In [37]:
import numpy as np
%store -r deaths_gdp
from scipy import stats
from datascience import Table
from datascience.predicates import are

## Question 2

A researcher is interested in the effect of having a high GDP (Gross Domestic Product) on how many people die in wars. She first collects data on wars worldwide, finding the average number of people who died in every war with more than 25,000 deaths.

First lets take the table `deaths_gdp` which contains wars worldwide since the year 1850 and turn it into a table that you are more familiar working with. We will call the table `wars`. The table contains four columns:
- `War`: the name of the war
- `Location`: where the war took place
- `GDP_range`: whether the GDP of the country that the war took place had a high or low GDP based on the time the war took place
- `Deaths`: The average deaths from the war

Run the cell below to view the table

In [38]:
wars=Table.from_df(deaths_gdp)
wars

War                           | Location      | GDP_range | Deaths
Taiping Rebellion             | china         | low       | 25000000
Crimean War                   | uk            | high      | 383000
Panthay Rebellion             | china         | low       | 945000
Indian Rebellion of 1857      | india         | low       | 900000
American Civil War            | united states | high      | 825000
Dungan Revolt                 | china         | low       | 14000000
French intervention in Mexico | mexico        | low       | 49287
Paraguayan War                | south america | low       | 750000
Ten Years' War                | cuba          | low       | 241000
Conquest of the Desert        | patagonia     | low       | 32500
... (83 rows omitted)

Lets continue to explore the NumPy method you practiced in Problem Set 2 `np.median` along with another method `np.mean`. `np.mean` can be used similar to `np.median` taking in an array of numbers (columns in a table like `wars` are made up of arrays of numbers), but instead of computing the median it computes the mean value of the array.

To practice how `np.mean`works run the two cells below which will create an array called `nums` and demonstrate how to calculate the mean of the array.

In [39]:
nums = [1,2,3,4,5,6]

In [40]:
np.mean(nums)

3.5

Each column of the `wars` data table is made up of an array. You can access the arrays that make up the columns by using `.column()` with the column name as an input. Heres an example that will return the array of values that make up the `War` column.

In [41]:
wars.column("War")

array(['Taiping Rebellion', 'Crimean War', 'Panthay Rebellion',
       'Indian Rebellion of 1857', 'American Civil War', 'Dungan Revolt',
       'French intervention in Mexico', 'Paraguayan War',
       "Ten Years' War", 'Conquest of the Desert', 'Aceh War',
       'First Sino–Japanese War', 'Cuban War of Independence',
       "Thousand Days' War", 'South African War (Second Boer War)',
       'Philippine–American War', 'Mexican Revolution', 'Balkan Wars',
       'World War I', 'Russian Civil War', 'Iraqi–Kurdish conflict',
       'Kurdish rebellions in Turkey', 'Second Italo-Senussi War',
       'Chinese Civil War', 'Chaco War', 'Second Italo-Ethiopian War',
       'Spanish Civil War', 'Second Sino-Japanese War', 'World War II',
       'Winter War', 'Greco-Italian War', 'Continuation War',
       'Soviet–Japanese War', 'First Indochina War', 'Greek Civil War',
       'Malagasy Uprising', 'Kashmir Conflict', 'La Violencia',
       'Internal conflict in Myanmar', 'Arab–Israeli conflict',
       'Indian annexation of Hyderabad', 'Korean War', 'Algerian War',
       'Ethnic conflict in Nagaland', 'Vietnam War',
       'First Sudanese Civil War', 'Congo Crisis',
       'Angolan War of Independence', 'North Yemen Civil War',
       'Mozambican War of Independence', 'Insurgency in Northeast India',
       'Colombian conflict', 'Nigerian Civil War', 'Moro Conflict',
       'CPP-NPA-NDF rebellion', 'Bangladesh Liberation War',
       'Ethiopian Civil War', 'Angolan Civil War', 'Lebanese Civil War',
       'Insurgency in Laos', 'War in Afghanistan',
       'Kurdish–Turkish conflict', 'Soviet–Afghan War',
       'Salvadoran Civil War', 'Iran–Iraq War',
       'Internal conflict in Peru', 'Ugandan Bush War',
       'Second Sudanese Civil War', 'Sri Lankan Civil War',
       'Somali Civil War', "Lord's Resistance Army insurgency",
       'Nagorno-Karabakh War', 'Gulf War', 'Algerian Civil War',
       'Bosnian War', '1991 Iraqi Civil War', 'Sierra Leone Civil War',
       'Burundian Civil War', 'Rwandan genocide', 'First Congo War',
       'Second Congo War', 'Ituri conflict', 'War on Terror',
       'War in Afghanistan (2001–present)', 'Iraq War', 'War in Darfur',
       'Kivu Conflict', 'War in North-West Pakistan', 'Mexican Drug War',
       'Boko Haram insurgency', 'Syrian Civil War',
       'Iraqi Civil War (2014–2017)', 'Yemeni Civil War'], dtype='<U35')

**Part I**

Set the `mean_deaths` and `median_deaths` equal to the mean and median deaths using `np.mean` and `np.median` in the cells below.

In [29]:
mean_deaths = 
mean_deaths

SyntaxError: invalid syntax (<ipython-input-29-1fe5a6a55e1d>, line 1)

In [ ]:
median_deaths= 
median_deaths

Is the mean or median of deaths larger? Write a sentence or two about why this is in the cell below.

*Answer in this cell*

**Part 2**

Do you think mean or median is a better judge of how many lives are typically lost during a war?

*Answer in this cell*

**Part 3**

She then computes two arrays: `high_gdp` which contains the death tolls from wars that took place in countries with a high GDP and `low_gdp` which contains the death tolls from wars that took place in countries with a low GDP. Run the two cells below to view the arrays `high_gdp` and `low_gdp`.

In [42]:
high_gdp = wars.where('GDP_range', are.equal_to('high')).column('Deaths')
high_gdp

array([  383000,   825000, 28000000,  7000000,   229450,   100000,
       70562500,    27000,   387300,   116074,   694500,   766000,
         529982,   100000,   200000,   570000,   197500])

In [43]:
low_gdp = wars.where("GDP_range", are.equal_to('low')).column("Deaths")
low_gdp

array([25000000,   945000,   900000, 14000000,    49287,   750000,
         241000,    32500,   102000,    48311,   362000,   120000,
          81500,   234000,  1250000,   140000,    40000,  8000000,
         107500,   278000,   750000, 22500000,   174286,    64594,
         400000,   158000,    50171,    95000,   193700,   190000,
         135500,  3000000,   950000,    34000,  3350000,   500000,
         100000,    93000,   150000,    76000,    25000,   220000,
        2000000,   120000,    36500,  3000000,  1000000,   504158,
         135000,   100000,  1620000,    45000,  1300000,    75000,
          70000,   300000,  1500000,    90000,   400000,   300000,
          38000,    33000,   122000,   101000,   160000,   175000,
         300000,   800000,   525000,  3950000,    60000,    54500,
         300000,    62450,    51567,   112000])

She then wants to find the averages of deaths in countries with high GDP's versus the averages of deaths in countries with low GDP's. She uses `np.mean` in the cell below and uses a print statement to report her findings. Run the cell below to see the averages of deaths in high GDP countries and low GDP countries.

In [44]:
mean_high_gdp = np.mean(high_gdp)

mean_low_gdp = np.mean(low_gdp)

print('The average deaths for a war in a country with a high GDP is ' + str(mean_high_gdp.round()))
print('The average deaths for a war in a country with a low GDP is ' + str(mean_low_gdp.round()))

The average deaths for a war in a country with a high GDP is 6511077.0
The average deaths for a war in a country with a low GDP is 1385928.0

Lets run a t-test and find the p-value of the difference of means test. We can do this using a helpful Python library similar to NumPy called SciPy. `scipy.stats.ttest_ind` is a method in SciPy that will help us run a t-test for the means of two independent samples and will give us the test statistic along with the p-value for our data.`scipy.stats.ttest_ind` takes in two arrays that contain the data of these independant samples. In this case the two arrays that contain the data of the independant samples are `high_gdp` and `low_gdp`.

Use `scipy.stats.ttest_ind`, `high_gdp_deaths`, and `low_gdp_deaths` to run a t-test and find the p-value in the cell below, assigning your answer to the variable t_test.

In [46]:
t_test = 
t_test

Ellipsis

What does the p-value you found tell us about the 95% confidence interval for the difference of means? (You don’t need to figure out what it is exactly, just an important property of the interval.) Write your response in the cell below.

*Answer in this cell*

**Part 4**

In writing up these results, the researcher determines that there is a statistically significant difference between the number of deaths in wars with countries that have high GDP and countries that have a low GDP. What might the researcher be missing that could be resulting in this outcome.

*Answer in this cell*