In [3]:
import urllib.request
import numpy as np
import pandas as pd
import re
pd.set_option('mode.chained_assignment', None)
import math

## Part 1
Extracting tables on death toll of modern war and GDP

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_wars_by_death_toll'
url2 = 'https://en.wikipedia.org/wiki/List_of_regions_by_past_GDP_(PPP)_per_capita'

In [5]:
page = urllib.request.urlopen(url)
page2 = urllib.request.urlopen(url2)

In [6]:
from bs4 import BeautifulSoup

In [7]:
soup = BeautifulSoup(page, "lxml")
soup2 = BeautifulSoup(page2, "lxml")

In [8]:
# print(soup.prettify())

In [9]:
# print(soup2.prettify())

In [10]:
all_tables=soup.find_all("table")
# all_tables

In [11]:
all_tables2 = soup2.find_all('table')
# all_tables2

In [12]:
right_table=soup.find_all('table', class_="sortable wikitable")[2]
# right_table

In [13]:
right_table2 = soup2.find_all('table', class_ = 'wikitable sortable')[1]
# right_table2

In [14]:
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==6:
        A.append(cells[0].find(text=True).replace('\n',''))
        B.append(cells[1].find(text=True).replace('\n',''))
        C.append(cells[2].find(text=True).replace('\n',''))
        D.append(cells[3].find(text=True).replace('\n',''))
        E.append(cells[4].find(text=True).replace('\n',''))
        F.append(cells[5].find(text=True).replace('\n',''))

In [15]:
A1=[]
B2=[]
C3=[]
D4=[]
E5=[]
F6=[]
G7 = []
H8 = []
I9 = []
J10= []


for row in right_table2.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==23:
        A1.append(cells[0].find(text=True).replace('\n',''))
        B2.append(cells[14].find(text=True).replace('\n',''))
        C3.append(cells[15].find(text=True).replace('\n',''))
        D4.append(cells[16].find(text=True).replace('\n',''))
        E5.append(cells[17].find(text=True).replace('\n',''))
        F6.append(cells[18].find(text=True).replace('\n',''))
        G7.append(cells[19].find(text=True).replace('\n',''))
        H8.append(cells[20].find(text=True).replace('\n',''))
        I9.append(cells[21].find(text=True).replace('\n',''))
        J10.append(cells[22].find(text=True).replace('\n',''))

In [16]:
df=pd.DataFrame(A,columns=['War'])
df['Death Range']=B
df['Date']=C
df['Combatants']=D
df['Location']=E
df['Notes'] = F
wars_raw = df
wars =wars_raw.drop(columns = "Notes")
wars['Location'] = wars['Location'].str.lower()
# wars.replace

In [17]:
df2=pd.DataFrame(A1,columns=['Country/Region'])
df2['1850']=B2
df2['1870']=C3
df2['1913']=D4
df2['1929']=E5
df2['1937'] = F6
df2['1960'] = G7
df2['1973'] = H8
df2['1995'] = I9
df2['2016'] = J10
gdp_raw= df2
gdp_raw['Country/Region'] = gdp_raw['Country/Region'].str.lower()
gdp_raw

    Country/Region  1850  1870  1913   1929   1937   1960   1973   1995   2016
0               uk  4248  5716  8052   8601   9718  13512  18795  27447  37334
1      netherlands  4266  4992  7285  10237   9776  14911  23539  33649  45600
2          belgium  3029  4415  6922   8291   8138  11404  19964  30020  38766
3           france  2627  3086  5733   7748   7381  12170  21097  30135  37124
4          germany  2884  3715  7369   8184   9464  15565  24173  34579  44689
5          austria  2861  3229  6009   6413   5471  11302  19479  31582  41445
6          finland  1543  1845  3417   4398   5571  10087  17946  26069  37239
7           russia     -     -     -      -      -   8972  16939  12369  23635
8          ukraine     -     -     -      -      -      -  11123   6552   9214
9             ussr     -     -  3040   2979   4634   8481  13026   8651  18635
10      yugoslavia     -  1066  1880   2427   2265   4580   8759   7278  15416
11  czechoslovakia  2023  2182  3929   5704   5403   9578  13202  14916  27738
12         hungary     -  2656  5105   6024   6188   8879  13615  13989  23279
13          poland  1202  1921  3383   4119   3726   6253  10386  10950  24838
14           italy  3018  3143  4698   5663   5651  10922  19632  32061  33419
15           spain  2017  2140  3629   4938   3139   5960  13770  24465  30110
16        portugal  1597  1687  2164   2786   3041   5115  12222  20507  25346
17          greece  1940  2339  2264   4505   5327   6052  14727  19790  22574
18          turkey     -  1449  1831   1931   2566   3765   6275  11756  17906
19           egypt     -  1999  2799      -      -   2643   3450   7399  11351
20            iraq     -  4197  5596      -      -  19133  26256   6161  13898
21          jordan     -  1440  2058      -      -   4794   4915   8211  11529
22            iran     .  1670  2227      -      -   6003  15205  10849  16783
23       indonesia   797   892  1498   1875   1867   1776   2616   5914  10911
24           india     -   710   895    969    900   1002   1135   2053   6125
25           china   684   754   786    800    825    843   1207   3367  12569
26     south korea     -   465   669    861   1202   1691   3895  17095  36103
27           japan  1072  1160  2182   3188   3643   6273  17993  31577  37465
28   united states  2825  3736  8101  10543  10450  18058  26603  39391  53015
29          canada  2249  2866  7521   8568   7566  14804  23405  32961  43745
30          mexico  1255  1246  2385   2886   2955   5624   9046  11360  16133
31           haiti     -     -     -      -      -   2512   2330   1769   1728
32            cuba  1294     -  3088   3653   2975   4360   5076   3810   7889
33          brazil  1123  1405  1354   1899   2086   4404   7885  10905  13873
34       venezuela  2126  1996  1974   3319   4382   5913  17529  15837  15219
35           chile  1178  1629  4217   4953   4433   5913   6899  12357  21696
36       argentina  2198  2578  6670   7671   7246   9765  13986  14091  18875
37    south africa  1552  1916     -   3553   4836   7216   9906   8674  12139
38       australia  3589  5947  9369   9562  10439  15972  23398  33908  48845

## Part 2 
Cleaning data so that the tables can be merged

In [18]:
wars_since_1850 =wars.loc[wars['Date'] >= '1850']

wars_since_1850.loc[wars_since_1850['War'] == "War on Terror", 'Location'] = 'iraq'
wars_since_1850.loc[wars_since_1850['War'] == "World War I", 'Location'] = 'uk'
wars_since_1850.loc[wars_since_1850['War'] == "World War II", 'Location'] = 'uk'
wars_since_1850.loc[wars_since_1850['War'] == "Napoleonic Wars", 'Location'] = 'uk'
wars_since_1850.loc[wars_since_1850['War'] == "Crimean War", 'Location'] = 'uk'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('europe'), 'Location'] = 'uk'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('korea'), 'Location'] = 'south korea'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('asia'), 'Location'] = 'china'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('india'), 'Location'] = 'india'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('africa'), 'Location'] = 'south africa'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('algeria'), 'Location'] = 'south africa'
wars_since_1850.loc[wars_since_1850['Location'].str.contains('caucasus region'), 'Location'] = 'russia'

In [19]:
no_slashes = r"\/[\s\w]*"


wars_since_1850['Location']=wars_since_1850['Location'].str.replace(no_slashes, "")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"north", "")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"crimean peninsula", "europe")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"usa", "united states")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"americas", "united states")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"syria", "iraq")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"middle east", "iraq")
wars_since_1850['Location']=wars_since_1850['Location'].str.replace(r"congo", "south africa")

In [20]:
gdp_death=pd.merge(wars_since_1850, gdp_raw, how = 'left', left_on= 'Location', right_on = 'Country/Region')

## Part 3
Correlating time of the war with the GDP for that time

In [21]:
def mid(x):

    if (x[0]== '1870s'):
        x[0] = '1870'
    if(x[0] == '1899-1902' or x[0] == '1979-1992'):
        x = x[0].split('-')
        
    if (x[0] == 'April') :
        x = ['1994']
        
   
    x[0] = int(x[0])
    
    if (len(x) == 1):
        return x[0]
    
    if (x[1] != 'present'):
        x[1] = int(x[1])
        
    if (x[1] == 'present'):
        return (x[0] + 2020)/2
    
    elif (type(x[1]) == int):
        return (x[1] + x[0])/2

    else:
        return x[0][0]
    
gdp_death['split'] = gdp_death['Date'].str.split('–')

gdp_death['mid'] = [mid(x) for x in gdp_death['split']]
gdp_death

ind = 0
GDP = []
# high_low = []
for x in gdp_death['mid']:
    if (x > 1800 and x <= 1860):
        if (gdp_death.iloc[ind,6] != '-'):
            GDP.append(gdp_death.iloc[ind,6])
        elif (gdp_death.iloc[ind, 7] != '-'):
            GDP.append(gdp_death.iloc[ind,7])
        elif (gdp_death.iloc[ind, 8] != '-'):
            GDP.append(gdp_death.iloc[ind,8])
        elif (gdp_death.iloc[ind, 9] != '-'):
            GDP.append(gdp_death.iloc[ind,9])
        elif (gdp_death.iloc[ind, 10] != '-'):
            GDP.append(gdp_death.iloc[ind,10])
        elif (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x > 1860 and x <= 1891.5):
        if (gdp_death.iloc[ind, 7] != '-'):
            GDP.append(gdp_death.iloc[ind,7])
        elif (gdp_death.iloc[ind, 8] != '-'):
            GDP.append(gdp_death.iloc[ind,8])
        elif (gdp_death.iloc[ind, 9] != '-'):
            GDP.append(gdp_death.iloc[ind,9])
        elif (gdp_death.iloc[ind, 10] != '-'):
            GDP.append(gdp_death.iloc[ind,10])
        elif (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x > 1891.5 and x <= 1921):
        if (gdp_death.iloc[ind, 8] != '-'):
            GDP.append(gdp_death.iloc[ind,8])
        elif (gdp_death.iloc[ind, 9] != '-'):
            GDP.append(gdp_death.iloc[ind,9])
        elif (gdp_death.iloc[ind, 10] != '-'):
            GDP.append(gdp_death.iloc[ind,10])
        elif (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x > 1921 and x <= 1933):
        if (gdp_death.iloc[ind, 9] != '-'):
            GDP.append(gdp_death.iloc[ind,9])
        elif (gdp_death.iloc[ind, 10] != '-'):
            GDP.append(gdp_death.iloc[ind,10])
        elif (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x > 1933 and x <= 1948.5):
        if (gdp_death.iloc[ind, 10] != '-'):
            GDP.append(gdp_death.iloc[ind,10])
        elif (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x> 1948.5 and x<= 1966.5):
        if (gdp_death.iloc[ind, 11] != '-'):
            GDP.append(gdp_death.iloc[ind,11])
        elif (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x> 1966.5 and x<= 1984):
        if (gdp_death.iloc[ind, 12] != '-'):
            GDP.append(gdp_death.iloc[ind,12])
        elif (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x>1984 and x<= 2005.5):
        if (gdp_death.iloc[ind, 13] != '-'):
            GDP.append(gdp_death.iloc[ind,13])
        elif (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    elif (x > 2005.5):
        if (gdp_death.iloc[ind, 14] != '-'):
            GDP.append(gdp_death.iloc[ind,14])
        else:
            GDP.append('NaN')
    ind += 1
        
    
gdp_death['GDP'] = GDP

In [22]:
gdp_d =gdp_death.drop(columns = ['1850', '1870', '1913', '1929', '1937', '1960', '1973', '1995', '2016', 'split', 'Country/Region'])
gdp_d

,War,Death Range,Date,Combatants,Location,mid,GDP
0,Taiping Rebellion,"20,000,000–30,000,000, possibly many more.",1850–1864,Qing China vs. Taiping Heavenly Kingdom,china,1857.0,684
1,Crimean War,"356,000–410,000",1853–1856,Ottoman Empire and allies vs. Russia,uk,1854.5,4248
2,Panthay Rebellion,"890,000–1,000,000",1856–1873,Qing China vs. Hui,china,1864.5,754
3,Indian Rebellion of 1857,"800,000–1,000,000",1857–1858,Sepoy Mutineers vs. British East India Company,india,1857.5,710
4,American Civil War,"650,000–1,000,000",1861–1865,United States vs. Confederate States,united states,1863.0,3736
5,Dungan Revolt,"8,000,000–20,000,000",1862–1877,Qing China vs. Hui vs. Kashgaria,china,1869.5,754
6,French intervention in Mexico,"49,287+",1862–1867,Mexican Republicans vs. France and Mexican Empire,mexico,1864.5,1246
7,Paraguayan War,"300,000–1,200,000",1864–1870,Triple alliance vs. Paraguay,south america,1867.0,NaN
8,Ten Years' War,"241,000+",1868–1878,Spain vs. Cuba,cuba,1873.0,3088
9,Conquest of the Desert,"30,000–35,000",1870s–1884,Argentina vs. Mapuche people,patagonia,1877.0,NaN
10,Aceh War,"97,000–107,000",1873–1914,Kingdom of the Netherlands vs. Aceh Sultanate,indonesia,1893.5,1498
11,First Sino–Japanese War,"48,311+",1894–1895,Qing China vs. Japan,china,1894.5,786
12,Cuban War of Independence,"362,000+",1895–1898,USA and Cuba vs. Spain,cuba,1896.5,3088
13,Thousand Days' War,"120,000+",1899–1902,Colombian Conservatives vs. Colombian Liberals,colombia,1900.5,NaN
14,South African War (Second Boer War),"73,000–90,000",1899-1902,United Kingdom and allies vs. South African Re...,south africa,1900.5,3553
15,Philippine–American War,"234,000+",1899–1912,Philippines vs. USA,philippines,1905.5,NaN
16,Mexican Revolution,"500,000–2,000,000",1910–1920,Revolutionary Forces vs. Anti-Revolutionary Fo...,mexico,1915.0,2385
17,Balkan Wars,"140,000+",1912–1913,see,balkan peninsula,1912.5,NaN
18,World War I,"16,000,000–40,000,000+ (the higher estimate al...",1914–1918,Allied Powers vs. Central Powers,uk,1916.0,8052
19,Russian Civil War,"5,000,000–9,000,000",1917–1922,Red army and allies vs. White army and allies,russia,1919.5,8972
20,Iraqi–Kurdish conflict,"138,800–320,100",1918–2003,Kurdistan/Iraqi Kurdistan and allies vs. Iraq ...,iraq,1960.5,19133
21,Kurdish rebellions in Turkey,"100,000+",1921–present,Turkey vs. Kurdish people,iraq,1970.5,26256
22,Second Italo-Senussi War,"40,000+",1923–1932,Italy vs. Senussi Order,libya,1927.5,NaN
23,Chinese Civil War,"8,000,000–",1927–1949,ROC vs. PRC,china,1938.0,825
24,Chaco War,"85,000–130,000",1932–1935,Bolivia vs. Paraguay,gran chaco,1933.5,NaN
25,Second Italo-Ethiopian War,"278,000+",1935–1936,Ethiopian Empire vs. Italy,ethiopia,1935.5,NaN
26,Spanish Civil War,"500,000–1,000,000",1936–1939,Nationalists vs. Republicans,spain,1937.5,3139
27,Second Sino-Japanese War,"20,000,000–25,000,000",1937–1945,Republic of China and allies vs. Japan,china,1941.0,825
28,World War II,"56,125,000–85,000,000",1939–1945,Allied powers vs. Axis Powers,uk,1942.0,9718
29,Winter War,"153,736–194,837",1939–1940,Finland vs. Soviet Union,finland,1939.5,5571
...,...,...,...,...,...,...,...
63,Salvadoran Civil War,"70,000–80,000",1979-1992,El Salvador vs. FMLN,el salvador,1985.5,NaN
64,Iran–Iraq War,"289,000–1,100,000",1980–1988,Iran and allies vs. Iraq and allies,iraq,1984.0,26256
65,Internal conflict in Peru,"70,000+",1980–present,Peru vs. PCP-SL and MRTA,peru,2000.0,NaN
66,Ugandan Bush War,"100,000–500,000",1981–1986,ULNF and Tanzania vs. National Resistance Army,uganda,1983.5,NaN
67,Second Sudanese Civil War,"1,000,000–2,000,000",1983–2005,Sudan vs. South Sudanese rebels,sudan,1994.0,NaN
68,Sri Lankan Civil War,"80,000–100,000",1983–2009,Sri Lanka vs. Tamil Tigers,sri lanka,1996.0,NaN
69,Somali Civil War,"300,000–500,000",1986–present,Varying Somali governments vs. insurgent groups,somalia,2003.0,NaN
70,Lord's Resistance Army insurgency,"100,000–500,000",1987–present,Lord's Resistance Army vs. Central African states,south africa,2003.5,8674
71,Nagorno-Karabakh War,"38,000+",1988–1994,Artsakh and Armenia vs. Azerbaijan and allies,russia,1991.0,12369
72,Gulf War,"25,500–40,500",1990–1991,Iraq vs. Coalition Forces,iraq,1990.5,6161
73,Algerian Civil War,"44,000–200,000",1991–2002,Algeria vs. FIS loyalists vs. GIA,south africa,1996.5,8674
74,Bosnian War,"97,000–105,000",1991–1995,Bosnia and Herzegovinian governments and allie...,bosnia,1993.0,NaN
75,1991 Iraqi Civil War,"85,000–235,000",1991,Iraq vs various rebels,iraq,1991.0,6161
76,Sierra Leone Civil War,"50,000–300,000",1991–2002,see,sierra leone,1996.5,NaN
77,Burundian Civil War,"300,000+",1993–2005,Burundi vs. Hutu rebels vs. Tutsi rebels,burundi,1999.0,NaN
78,Rwandan genocide,"800,000",April–July 1994,Hutu people vs. Tutsi Rebels,rwanda,1994.0,NaN
79,First Congo War,"250,000–800,000",1996–1997,Zaire and allies vs. AFDL and allies,south africa,1996.5,8674
80,Second Congo War,"2,500,000–5,400,000",1998–2003,See,south africa,2000.5,8674
81,Ituri conflict,"60,000+",1999–2003,Lendu Tribe vs. Hemu Tribe and allies,south africa,2001.0,8674
82,War on Terror,"272,000–1,260,000",2001–present,Anti-Terrorist Forces vs. Terrorist groups,iraq,2010.5,13898
83,War in Afghanistan (2001–present),"47,000–62,000",2001–present,see,afghanistan,2010.5,NaN
84,Iraq War,"405,000–654,965",2003–2011,See,iraq,2007.0,13898
85,War in Darfur,"300,000+",2003–present,SRF and allies vs. Sudan and allies vs. UNAMID,sudan,2011.5,NaN
86,Kivu Conflict,"100,000+",2004–present,see,south africa,2012.0,12139
87,War in North-West Pakistan,"45,900–79,000",2004–2017,"Pakistan, USA, and UK vs. Terrorist groups",pakistan,2010.5,NaN
88,Mexican Drug War,"150,000–250,000",2006–present,Mexico vs. Drug cartels,mexico,2013.0,16133
89,Boko Haram insurgency,"51,567+",2009–present,Multinational Joint Task Force vs. Boko Haram,nigeria,2014.5,NaN
90,Syrian Civil War,"570,000+",2011–present,Syrian Arab Republic vs. Republic of Syria vs....,iraq,2015.5,13898
91,Iraqi Civil War (2014–2017),"195,000–200,000+",2014–2017,Iraq and allies vs. ISIL,iraq,2015.5,13898
92,Yemeni Civil War,"112,000+",2015–present,Yemen's Supreme Political Council vs. Hadi Gov...,yemen,2017.5,NaN

In [23]:
gdp_d=gdp_d.fillna('low')

## Part 4 
Giving each country an estimated high or low GDP value based on date and median GDP of the time

In [24]:
years = gdp_death.iloc[:, 6:15]
years=years.dropna(0)

def no_nulls(x):
    if (x !='-'):
        return x
    pass
med1850 = np.mean([int(x) for x in [no_nulls(x) for x in years['1850']] if x is not None])
med1870 = np.mean([int(x) for x in [no_nulls(x) for x in years['1870']] if x is not None])
med1913 = np.mean([int(x) for x in [no_nulls(x) for x in years['1913']] if x is not None])
med1929 = np.mean([int(x) for x in [no_nulls(x) for x in years['1929']] if x is not None])
med1937 = np.mean([int(x) for x in [no_nulls(x) for x in years['1937']] if x is not None])
med1960 = np.mean([int(x) for x in [no_nulls(x) for x in years['1960']] if x is not None])
med1973 = np.mean([int(x) for x in [no_nulls(x) for x in years['1973']] if x is not None])
med1995 = np.mean([int(x) for x in [no_nulls(x) for x in years['1995']] if x is not None])
med2016 = np.mean([int(x) for x in [no_nulls(x) for x in years['2016']] if x is not None])

In [ ]:
ind = 0
high_low = []
for x in gdp_d['mid']:

    if (gdp_d.iloc[ind,6] == 'low'):
        high_low.append('low')

    else:
        if (x > 1800 and x <= 1860):
            if (((med1850 + med1870)/2) <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x > 1860 and x <= 1891.5):
            if (((med1870 + med1913)/2) <= int(gdp_d.iloc[ind,6])):
                  high_low.append('high')
            else:
                high_low.append('low')
        elif (x > 1891.5 and x <= 1921):
            if (((med1913 + med1929)/2)  <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x > 1921 and x <= 1933):
            if (((med1929 + med1937)/2) <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x > 1933 and x <= 1948.5):
            if (((med1937 + med1960)/2) <= int(gdp_d.iloc[ind,6])): 
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x> 1948.5 and x<= 1966.5):
            if (((med1960 + med1973)/2) <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x> 1966.5 and x<= 1984):
            if (((med1973 + med1995)/2) <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x>1984 and x<= 2005.5):
            if (((med1995 + med2016)/2) <= int(gdp_d.iloc[ind,6])):
                high_low.append('high')
            else:
                high_low.append('low')
        elif (x > 2005.5):
            if med2016 >= x:
                high_low.append('high')
            else:
                high_low.append('low')
    ind += 1
gdp_d['GDP_range'] = high_low

In [ ]:
deaths_vs_gdp = gdp_d.drop(columns = ['mid', 'Combatants', 'Date'])

In [ ]:
deaths_vs_gdp

In [ ]:
deaths_vs_gdp['Death']=deaths_vs_gdp['Death Range'].str.replace(r"\+", "")
deaths_vs_gdp['Death']=deaths_vs_gdp['Death'].str.replace(r",", "")
deaths_vs_gdp['Death split']=deaths_vs_gdp['Death'].str.split('–')
deaths_vs_gdp.head(10)

In [ ]:

def avg(x):
    if (x[0] == '400000-1500000'):
        return 950000
    if (len(x) == 1):
        return math.trunc(int(x[0]))
    if (x[1] == '30000000 possibly many more.'):
        x[1]= '30000000'
    if (x[1] == '40000000 (the higher estimate also includes the first victims of the related '):
        x[1] = '40000000'
    if (x[1] == ''):
        return math.trunc(int(x[0]))
    return math.trunc((int(x[0]) + int(x[1]))/2)

deaths_vs_gdp["Deaths"] = [avg(x) for x in deaths_vs_gdp['Death split']]
deaths_gdp= deaths_vs_gdp.drop(columns= ['Death split', 'Death', 'Death Range', 'GDP'])
deaths_gdp

In [ ]:
%store deaths_gdp

In [ ]:
high_gdp_deaths=deaths_gdp.loc[deaths_gdp['GDP_range'] == 'high']
high_mean = np.mean(high_gdp_deaths['Deaths'])
high_mean

In [ ]:
low_gdp_deaths = deaths_gdp.loc[deaths_gdp['GDP_range'] == 'low']
low = np.mean(low_gdp_deaths['Deaths'])
low_mean

In [2]:
deaths_gdp.to_csv('deaths_gdp.csv', index = False)

NameError: name 'deaths_gdp' is not defined