In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
sns.set_palette("Blues_d")

from IPython.display import HTML

# import the widgets module
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

warnings.filterwarnings("ignore")
sns.set(style="whitegrid")

# EDA

In [ ]:
data = pd.read_csv('housemid.csv')

In [ ]:
data.describe()

In [ ]:
data.info()

Here we use `df.info()` to get an idea of where null/nan values are found. There are 323 entries in this Dataframe.  


Colums with null/nan values: `inc_religion`, `HouseR_2014`, `HouseR_2012`

### inc_religion

To deal with the missing religious values, we will use outside data to fill them in.

In [ ]:
religion_by_district = pd.read_csv('')

In [33]:
data[data['inc_religion'].isnull() == True]

,District,Dem2018,Rep2018,state,party,voteshare,TRUMP.SCORE,Inc_fname,Inc_lname,inc_year_elected,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
16,AZ-8,44.4,55.6,AZ,R,52.29,95.5,Debbie,Lesko,2018 Special,...,4.2,14.6,2.7,0.7,1.5,29.4,31.3,61754,1,52.29
235,OH-12,47.1,51.6,OH,R,49.83,100.0,Troy,Balderson,2018 Special,...,4.4,1.7,2.0,0.1,1.7,41.0,39.9,67415,0,49.83
284,TX-27,36.6,60.3,TX,R,61.70,100.0,Michael,Cloud,2018 Special,...,5.4,45.2,1.1,0.2,0.8,20.3,29.3,53047,0,61.70

In [36]:
data.iloc[235]

District                           OH-12
Dem2018                             47.1
Rep2018                             51.6
state                                 OH
party                                  R
voteshare                          49.83
TRUMP.SCORE                          100
Inc_fname                           Troy
Inc_lname                      Balderson
inc_year_elected            2018 Special
inc_birth                           1962
inc_gender                           Man
inc_race            White - Non-Hispanic
inc_religion                         NaN
inc_lgbtq                             No
inc_2016status                Re-elected
Clinton_2016                        41.9
Trump_2016                          53.2
Obama_2012                          43.9
Romney_2012                         54.4
Obama_2008                          44.8
McCain_2008                         53.7
HouseD_2016                         29.8
HouseR_2016                         66.6
HouseD_2014                         27.8
HouseR_2014                         68.1
HouseD_2012                         36.5
HouseR_2012                         63.5
White                               90.1
Black                                4.4
Latino                               1.7
Asian                                  2
Native                               0.1
Other                                1.7
BA                                    41
BA_WHite                            39.9
Med_Income                         67415
Inc_F                                  0
Rep.forecast                       49.83
Name: 235, dtype: object